[submodule "libs/components"]
	path = libs/components
	url = https://github.com/nossas/bonde-components
[submodule "libs/core-tools"]
	path = libs/core-tools
	url = https://github.com/nossas/bonde-core-tools
[submodule "server/api-graphql"]
	path = server/api-graphql
	url = https://github.com/nossas/bonde-apis
[submodule "server/api-rest"]
	path = server/api-rest
	url = https://github.com/nossas/bonde-server
[submodule "server/webpage"]
	path = server/webpage
	url = https://github.com/nossas/bonde-webpage
[submodule "server/redes"]
	path = server/redes
	url = https://github.com/nossas/bonde-redes
[submodule "libs/editor"]
	path = libs/editor
	url = https://github.com/nossas/slate-editor
[submodule "server/chatbot"]
	path = server/chatbot
	url = https://github.com/nossas/bonde-chatbot
[submodule "server/migrations"]
	path = server/migrations
	url = https://github.com/nossas/bonde-migrations
[submodule "server/experiments"]
	path = server/experiments
	url = https://github.com/nossas/bonde-experiments
[submodule "libs/diagram"]
	path = libs/diagram
	url = https://github.com/nossas/bonde-diagram
[submodule "server/phone"]
	path = server/phone
	url = https://github.com/nossas/bonde-phone
[submodule "server/payments"]
	path = server/payments
	url = https://github.com/nossas/bonde-payments
[submodule "manual"]
	path = manual
	url = https://github.com/nossas/manual-tech
[submodule "devops"]
	path = devops
	url = https://github.com/nossas/bonde-install
[submodule "server/mapa-do-acolhimento"]
	path = server/mapa-do-acolhimento
	url = https://github.com/nossas/mapa-do-acolhimento
[submodule "server/webhooks"]
	path = server/webhooks
	url = https://github.com/nossas/bonde-auth.git
[submodule "server/deprecated-api-graphql"]
	path = server/deprecated-api-graphql
	url = https://github.com/nossas/bonde-graphql.git
[submodule "client/packages/storage"]
	path = client/packages/storage
	url = https://github.com/nossas/bonde-cross-storage
[submodule "server/redirect"]
	path = server/redirect
	url = https://github.com/nossas/bonde-redirect
